{% extends 'base/base.html' %}
{% block title %} | Home {% endblock title %}
{% block content %} 
    <h5>Dashboard</h5>
    <p>Welcome, {{user.first_name}} {{user.last_name}}</p>
    {% if user.role == 'Student' %}
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Result</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Earned CGPA: {{cgpa}} </h6>
                  <p class="card-text">Earned Credit: {{earned_credit}}</p>
                </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Academic Information</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Department Name: {{user.department}}</h6>
                  <p class="card-text">School Name: {{user.department.schoolID}}</p>
                </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Registration Information</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">-</h6>
                    <p class="card-text">-</p>
                </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Scholarship</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">-</h6>
                    <p class="card-text">-</p>
                </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <hr style="margin-top: 2rem; margin-bottom: 2rem;">
          <a class="btn btn-success" href="{% url 'transcript' %}">Get Transcript</a>
          <hr style="margin-top: 2rem; margin-bottom: 2rem;">
        </div>
        <div class="row">
          <div class="col" style="width: 50%;">
            <div class="card" >
              <div class="card-body">
                  <h5 class="card-title">PLO Analysis</h5>
                  <div>
                    <canvas id="myChart"></canvas>
                  </div>
                
                  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                  
                  <script>
                      // Get the canvas element
                      const canvas = document.getElementById('myChart');
          
                      // Create the data for the spider chart
                      const data = {
                      labels: ['PLO1', 'PLO2', 'PLO3', 'PLO4', 'PLO5', 'PLO6', 'PLO7', 'PLO8', 'PLO9', 'PLO10', 'PLO11', 'PLO12'],
                      datasets: [{
                          label: 'PLO Percentage',
                          data: [65, 65, 65, 65, 25, 65, 75 , 85, 10, 15, 32, 36],
                          fill: true,
                          backgroundColor: 'rgba(255, 99, 132, 0.2)',
                          borderColor: 'rgb(255, 99, 132)',
                          pointBackgroundColor: 'rgb(255, 99, 132)',
                          pointBorderColor: '#fff',
                          pointHoverBackgroundColor: '#fff',
                          pointHoverBorderColor: 'rgb(255, 99, 132)',
                          
                      }]
                      };
          
          
                      // Create the spider chart
                      const myChart = new Chart(canvas, {
                      type: 'radar',
                      data: data,
                      options: {
                              elements: {
                              line: {
                                  borderWidth: 3
                              }
                              }
                          },
                      
                      });
          
                  
          
                  </script>
              </div>
            </div>
          </div>
          <div class="col" style="width: 50%;">
            <div class="card" >
              <div class="card-body">
                  <h5 class="card-title">Course-wise CO Analysis</h5>
                  <form action="" method="POST" class="row g-3 p-3"> {% csrf_token %}
                      <div class="col-md-12">
                        <input class="form-control" placeholder="Course Name" type="text" name="searchCourse" id="">
                      </div>
                      <div class="col-12">
                        <button class="btn btn-success" type="submit">Search</button>
                      </div>
                        
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    {% endif %}
{% endblock content %}
