{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SPMSv2{% block title %}{% endblock title %}</title>
    <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src='https://cdn.plot.ly/plotly-2.20.0.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>

    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href=".">Students Performance Monitoring System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
          <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                {% if user.role == 'Student' %}
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'plo' %}">PLO Achievement Table</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'co-course' %}">Course Wise CO Analysis</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">PLO Analysis</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Registration</a>
                  </li>
                {% endif %}
                {% if user.role == 'Faculty' or user.role == 'Admin' %}
                  <li class="nav-item" ><a class="nav-link" href="{% url 'co-input' %}">Grade Input</a></li>
                  <li class="nav-item" ><a class="nav-link" href="{% url 'grade-input-csv' %}">Grade Input from CSV</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">CO Analysis</a></li>
                  <li class="nav-item"> <a class="nav-link" href="#">PLO Analysis</a></li>
                  <li class="nav-item"> <a class="nav-link" href="#">Evaluation</a></li>
                  <li class="nav-item"> <a class="nav-link" href="#">Course</a></li>
                {% endif %}
                {% if user.role == 'Admin' %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Admin
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Logout</a>
                  </li>
              </ul>
              <!-- <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" type="submit">Search</button>
              </form> -->
            </div>
          </div>
        </div>
    </nav>
    
    <div class="container">
        {% block content %}{% endblock content %}
        <!-- /.content -->
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
  </body>
</html>